.main-canvas-no-hover {
  width: 10rem;
  height: 14rem !important;
  padding: 0.5rem;
}
.rounded-lg {
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.contribution-scroller {
  max-height: 85vh;
  overflow-y: scroll;
}

.bg-image-blue-inner-account {
  padding-bottom: 15rem;
}
