<h4>{{ "upload.upload_photo" | translate }}</h4>

<form [formGroup]="imageForm">
  <img alt="" [src]="url" height="200" width="200" />
  <!-- select photo section -->
  <input
    id="files"
    *ngIf="!imageDisabled"
    class="form-control w-75"
    type="file"
    (change)="onselectFile($event)"
    formControlName="image"
  />
  
  <br /><br />
  <button *ngIf="!imageDisabled" class="btn btn-dark" (click)="clearImage()">
    {{ "upload.clear_photo" | translate }}
  </button>
  <br /><br />

  <div class="my-2">
    <label for="imageTitle" class="form-label">{{
      "upload.title" | translate
    }}</label>
    <input
      type="text"
      class="form-control w-75 my-1"
      id="imageTitle"
      placeholder="{{ 'upload.placeholder.image_title_placeholder' | translate }}"
      formControlName="imageTitle"
    />
    <input
      *ngIf="page == 'contribution'"
      type="text"
      class="form-control w-75 my-1"
      id="otherImageTitle"
      placeholder="{{ 'upload.placeholder.other_image_title_placeholder' | translate }}"
      formControlName="otherImageTitle"
    />
  </div>

  <div class="my-2">
    <label for="imageDetails" class="form-label">{{
      "upload.detail" | translate
    }}</label>
    <textarea
      class="form-control w-75 my-1"
      id="imageDetails"
      rows="3"
      placeholder="{{ 'upload.placeholder.image_detail_placeholder' | translate }}"
      formControlName="imageDes"
    ></textarea>
    <textarea
     *ngIf="page == 'contribution'"
      class="form-control w-75 my-1"
      id="otherImageDes"
      rows="3"
      placeholder="{{ 'upload.placeholder.other_image_detail_placeholder' | translate }}"
      formControlName="otherImageDes"
    ></textarea>
  </div>

  <div class="my-2">
    <label for="imageSource" class="form-label">{{
      "upload.source" | translate
    }}</label>
    <textarea
      class="form-control w-75 my-1"
      id="imageSource"
      rows="3"
      placeholder="{{ 'upload.placeholder.image_source_placeholder' | translate }}"
      formControlName="imageSource"
    ></textarea>
    <textarea
      *ngIf="page == 'contribution'"
      class="form-control w-75 my-1"
      id="otherImageSource"
      rows="3"
      placeholder="{{ 'upload.placeholder.other_image_source_placeholder' | translate }}"
      formControlName="otherImageSource"
    ></textarea>
  </div>

  <div class="my-2">
    <label class="form-label" for="imageCategory">{{
      "upload.image_cat" | translate
    }}</label>

    <select
      class="form-select w-75"
      name="imageCategory"
      id="imageCategory"
      formControlName="imageCategory"
    >
      <option disabled selected value>{{ "upload.dropdown_default" | translate }}</option>
      <option [value]="category" *ngFor="let category of imageCategories">
        {{ category }}
      </option>
    </select>
    <input
      *ngIf="page == 'contribution'"
      readonly
      class="form-control w-75"
      formControlName="otherImageCategory"
    />
  </div>

  <!-- radio buttons for choosing if user wants to include photo in gallery -->
  <br />

  <div *ngIf="page == 'contribution'">
    <p>
      {{ "upload.include" | translate }}
      <img
        src="assets/upload/icons-question.png"
        tooltip="Choose to include the photo in website gallery"
        placement="auto"
        class="mx-2 shadow rounded-circle p-1"
        width="30"
      />
    </p>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="galleryNo"
        id="galleryYes"
        value="yes"
        formControlName="imageUpload"
      />
      <!-- yes button -->
      <label class="form-check-label" for="inlineRadio1">{{
        "upload.yes" | translate
      }}</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="galleryNo"
        id="galleryNo"
        value="no"
        formControlName="imageUpload"
      />
      <!-- no button -->
      <label class="form-check-label" for="inlineRadio2">{{
        "upload.no" | translate
      }}</label>
    </div>
  </div>
</form>
