<!-- Project overview header -->
<div class="container-fluid p-0 pb-3 bg-image-blue bg-white">
  <div class="bg-colors">
    <div class="container-fluid text-white p-0 m-0 bg-image-blue-inner bg-image-blue-inner-pb-15">
      <div class="container w-50 py-5">
        <h2 class="text-center py-4">{{ "project_overview.first_title" | translate }}</h2>
        <p class="pb-5 mb-5">
          {{
            "research.overview_body" | translate
          }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-- What we found section -->
<div class="container text-center w-50 my-4">
  <h2 class="text-center pb-4">{{
    "research.research_found" | translate
  }}</h2>
  <p>
    {{
      "research.research_body" | translate
    }}
  </p>
</div>

<!--Graphs-->
<div class="container w-100 my-5">
  <div class="row">
    <div class="col-8 text-left">
      <app-chart
        *ngIf="rightistYearData.length != 0"
        id="rightistYearBarChart"
        type="bar"
        [data]="rightistYearData"
        [total]="total"
      ></app-chart>
    </div>
    <div class="col-4 text-end align-self-center">
      <h2>{{
        "research.data1" | translate
      }}</h2>
      <p>
        {{
          "research.data1_body" | translate
        }}
      </p>
    </div>
  </div>
  <div class="row row-gap">
    <div class="col-4 text-start align-self-center">
      <h2>{{
        "research.data2" | translate
      }}</h2>
      <p>
        {{
          "research.data2_body" | translate
        }}
      </p>
    </div>
    <div class="col-8 text-end" id="chartElement">
      <div id="chart" class="chart-container"></div>
    </div>
  </div>
</div>

<!-- Summary section -->
<div class="container w-50 my-4 text-center">
  <h2>{{
    "research.summary" | translate
  }}</h2>
  <p>
    {{
      "research.summary_body" | translate
    }}
  </p>
  <div class="my-5">
    <div class="col-10 mx-auto">
      <button
        class="btn btn-success rounded-pill btn-lg"
        routerLink="/meetTeam"
      >
      {{
        "research.team_button" | translate
      }}
      </button>
    </div>
  </div>
</div>
