<div class="container-fluid">
  <button (click)="onClose()" class="btn btn-danger float-end">X</button>

  <div *ngIf="type == 'edit'">
    <img
      [src]="this.image?.imagePath"
      width="100%"
      class="img-fluid mx-auto my-4 d-block"
    />
  </div>

  <div
    *ngIf="type == 'add'"
    class="d-flex flex-column justify-content-center align-items-center my-4"
  >
    <img alt="" [src]="url" class="w-50 h-100" />
    <!-- select photo section -->
    <input
      class="form-control w-50"
      type="file"
      (change)="onselectFile($event)"
    />
  </div>

  <!--Category-->
  <div class="my-4">
    <div class="container my-2">
      <div *ngIf="type == 'edit'">
        <div class="display-6">
          <span class="fw-bold"
            >{{ "gallery.gallery_overlay_category" | translate }}: </span
          >{{ this.image?.galleryCategory }}
        </div>
        <div class="display-6" *ngIf="status == 'submit'">
          <span class="fw-bold"
            >{{ "gallery.gallery_overlay_category_other" | translate }}: </span
          >{{ this.otherImage?.galleryCategory }}
        </div>
      </div>

      <div *ngIf="isEditMode || type == 'add'">
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text fw-bold"
              >{{ "gallery.gallery_overlay_category" | translate }}:
            </span>
          </div>
          <select
            (change)="onCategoryChange($event)"
            class="form-select"
            [(ngModel)]="category"
          >
            <option disabled selected value>-- select an option --</option>
            <option
              *ngFor="let category of imageCategories; let i = index"
              [value]="i"
            >
              {{ category }}
            </option>
          </select>
        </div>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text fw-bold"
              >{{ "gallery.gallery_overlay_category_other" | translate }}:
            </span>
          </div>
          <input
            readonly
            [(ngModel)]="otherCategory"
            type="text"
            class="form-control"
            aria-label="Small"
            aria-describedby="category_edit_input"
          />
        </div>
      </div>
    </div>

    <!--Title-->
    <div class="container my-2">
      <div *ngIf="type == 'edit'">
        <div class="display-6">
          <span class="fw-bold"
            >{{ "gallery.gallery_overlay_title" | translate }}: </span
          >{{ this.image?.galleryTitle }}
        </div>
        <div class="display-6" *ngIf="status == 'submit'">
          <span class="fw-bold"
            >{{ "gallery.gallery_overlay_title_other" | translate }}: </span
          >{{ this.otherImage?.galleryTitle }}
        </div>
      </div>

      <div *ngIf="isEditMode || type == 'add'">
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text fw-bold"
              >{{ "gallery.gallery_overlay_title" | translate }}:
            </span>
          </div>
          <input
            [(ngModel)]="title"
            type="text"
            class="form-control"
            aria-label="Small"
            aria-describedby="title_edit_input"
          />
        </div>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text fw-bold"
              >{{ "gallery.gallery_overlay_title_other" | translate }}:
            </span>
          </div>
          <input
            [(ngModel)]="otherTitle"
            type="text"
            class="form-control"
            aria-label="Small"
            aria-describedby="title_edit_input_other"
          />
        </div>
      </div>
    </div>

    <!--Detail-->
    <div class="container my-2">
      <div *ngIf="type == 'edit'">
        <div class="display-6">
          <span class="fw-bold"
            >{{ "gallery.gallery_overlay_detail" | translate }}: </span
          >{{ this.image?.galleryDetail }}
        </div>
        <div class="display-6" *ngIf="status == 'submit'">
          <span class="fw-bold"
            >{{ "gallery.gallery_overlay_detail_other" | translate }}: </span
          >{{ this.otherImage?.galleryDetail }}
        </div>
      </div>

      <div *ngIf="isEditMode || type == 'add'">
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text fw-bold"
              >{{ "gallery.gallery_overlay_detail" | translate }}:
            </span>
          </div>
          <input
            [(ngModel)]="detail"
            type="text"
            class="form-control"
            aria-label="Small"
            aria-describedby="detail_edit_input"
          />
        </div>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text fw-bold"
              >{{ "gallery.gallery_overlay_detail_other" | translate }}:
            </span>
          </div>
          <input
            [(ngModel)]="otherDetail"
            type="text"
            class="form-control"
            aria-label="Small"
            aria-describedby="detail_edit_input_other"
          />
        </div>
      </div>
    </div>

    <!--Source-->
    <div class="container my-2">
      <div *ngIf="type == 'edit'">
        <div class="display-6">
          <span class="fw-bold"
            >{{ "gallery.gallery_overlay_source" | translate }}: </span
          >{{ this.image?.gallerySource }}
        </div>
        <div class="display-6" *ngIf="status == 'submit'">
          <span class="fw-bold"
            >{{ "gallery.gallery_overlay_source_other" | translate }}: </span
          >{{ this.otherImage?.gallerySource }}
        </div>
      </div>

      <div *ngIf="isEditMode || type == 'add'">
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text fw-bold"
              >{{ "gallery.gallery_overlay_source" | translate }}:
            </span>
          </div>
          <input
            [(ngModel)]="source"
            type="text"
            class="form-control"
            aria-label="Small"
            aria-describedby="source_edit_input"
          />
        </div>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text fw-bold"
              >{{ "gallery.gallery_overlay_source_other" | translate }}:
            </span>
          </div>
          <input
            [(ngModel)]="otherSource"
            type="text"
            class="form-control"
            aria-label="Small"
            aria-describedby="source_edit_input_other"
          />
        </div>
      </div>
    </div>

    <div class="container w-75 text-center">
      <div *ngIf="status == 'submit'" class="display-6 text-danger">
        Are you sure you want to update this record?
      </div>
      <div *ngIf="status == 'remove'" class="display-6 text-danger">
        <div>Are you sure you want to delete this record?</div>
        <div class="h4 font-italic">(This action can not be undone)</div>
      </div>
    </div>

    <div class="container text-center my-4" *ngIf="isAdmin">
      <div *ngIf="status == 'initial'">
        <div *ngIf="type == 'add' && imageAdded">
          <button class="btn btn-success mx-2" (click)="onAdd()">
            {{ "share.add_button" | translate }}
          </button>
        </div>

        <div *ngIf="type == 'edit'">
          <button
            class="btn btn-warning mx-2"
            (click)="onEdit()"
            *ngIf="!this.isEditMode"
          >
            {{ "share.edit_button" | translate }}
          </button>
          <button
            class="btn btn-success mx-2"
            (click)="onSubmit()"
            *ngIf="this.isEditMode"
          >
            {{ "share.submit_button" | translate }}
          </button>
          <button
            class="btn btn-danger mx-2"
            (click)="onRemove()"
            *ngIf="!this.isEditMode"
          >
            {{ "share.remove_button" | translate }}
          </button>
        </div>
      </div>

      <div *ngIf="status == 'submit'">
        <button class="btn btn-success mx-2" (click)="onUpdate()">
          {{ "share.update_button" | translate }}
        </button>
        <button class="btn btn-danger mx-2" (click)="onCancel()">
          {{ "share.cancel_button" | translate }}
        </button>
      </div>

      <div *ngIf="status == 'remove'">
        <button class="btn btn-success mx-2" (click)="onDelete()">
          {{ "share.delete_button" | translate }}
        </button>
        <button class="btn btn-danger mx-2" (click)="onCancel()">
          {{ "share.cancel_button" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid" *ngIf="type == 'add'">
  <h1>Hello</h1>
  <button (click)="onClose()" class="btn btn-danger float-end">X</button>

  <div
    class="d-flex flex-column justify-content-center align-items-center my-4"
  >
    <img alt="" [src]="url" class="w-50 h-100" />
      select photo section
    <input
      class="form-control w-50"
      type="file"
      (change)="onselectFile($event)"
    />
  </div>

  <div>
    <div class="input-group my-2">
      <div class="input-group-prepend">
        <span class="input-group-text fw-bold"
          >{{ "gallery.gallery_overlay_category" | translate }}:
        </span>
      </div>
      <input
        [(ngModel)]="category"
        type="text"
        class="form-control"
        aria-label="Small"
        aria-describedby="category_edit_input"
      />
    </div>
    <div class="input-group my-2">
      <div class="input-group-prepend">
        <span class="input-group-text fw-bold"
          >{{ "gallery.gallery_overlay_category_other" | translate }}:
        </span>
      </div>
      <input
        [(ngModel)]="otherCategory"
        type="text"
        class="form-control"
        aria-label="Small"
        aria-describedby="category_edit_input_other"
      />
    </div>
  </div>

  <div>
    <div class="input-group my-2">
      <div class="input-group-prepend">
        <span class="input-group-text fw-bold"
          >{{ "gallery.gallery_overlay_detail" | translate }}:
        </span>
      </div>
      <input
        [(ngModel)]="detail"
        type="text"
        class="form-control"
        aria-label="Small"
        aria-describedby="detail_edit_input"
      />
    </div>
    <div class="input-group my-2">
      <div class="input-group-prepend">
        <span class="input-group-text fw-bold"
          >{{ "gallery.gallery_overlay_detail_other" | translate }}:
        </span>
      </div>
      <input
        [(ngModel)]="otherDetail"
        type="text"
        class="form-control"
        aria-label="Small"
        aria-describedby="detail_edit_input_other"
      />
    </div>
  </div>

  <div>
    <div class="input-group my-2">
      <div class="input-group-prepend">
        <span class="input-group-text fw-bold"
          >{{ "gallery.gallery_overlay_source" | translate }}:
        </span>
      </div>
      <input
        [(ngModel)]="source"
        type="text"
        class="form-control"
        aria-label="Small"
        aria-describedby="source_edit_input"
      />
    </div>
    <div class="input-group my-2">
      <div class="input-group-prepend">
        <span class="input-group-text fw-bold"
          >{{ "gallery.gallery_overlay_source_other" | translate }}:
        </span>
      </div>
      <input
        [(ngModel)]="otherSource"
        type="text"
        class="form-control"
        aria-label="Small"
        aria-describedby="source_edit_input_other"
      />
    </div>
  </div>
</div> -->
