<button
  type="button"
  class="btn btn-light share"
  data-bs-toggle="modal"
  data-bs-target="#shareModal"
>
<img src="../../../../assets/browsepage/share.svg">
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="shareModal"
  tabindex="-1"
  aria-labelledby="shareModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share file</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <p>Copy Link</p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-link-45deg"
                viewBox="0 0 16 16"
              >
                <path
                  d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"
                />
                <path
                  d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"
                />
              </svg>
            </span>
            <input
              type="text"
              class="form-control"
              placeholder="URL"
              aria-label="URL"
              aria-describedby="basic-addon1"
            />
            <button class="btn btn-outline-secondary" type="button">
              Copy
            </button>
          </div>
          <button type="button" class="btn btn-dark">Print</button>
          <br />
          <div style="padding-bottom: 10px"></div>
          <button type="button" class="btn btn-dark">Download PDF</button>
        </div>
      </div>
    </div>
  </div>
</div>
