/* You can add global styles to this file, and also import other style files */
$khaki: #cea374;
$khaki-dark: #a76724;
$medium-blue: #266461;
$dark-blue: #09363c;
$black: #000000;
$orange-red: #df4028;
$white: white;
$light-grey: #f5f5f5;
$jade: #61af87;
$grey-green: #e0e2b8;
$light-grey-green: #e0e2b8;
$light-white:#e0e0e0;
$dark-green:#2b5256;
$grey: #676667;


