<div class="container-fluid px-0 bg-medium-blue">
  <div class="container-fluid px-0 text-center bg-image-blue bg-khali pb-1">
    <div class="bg-image-blue bg-medium-blue pb-3">
      <div class="bg-image-blue-inner">
        <div class="bg-image-blue-inner-pd-15 bg-dark-blue">
          <div
            class="col-11 col-md-8 col-lg-6 py-3 mx-auto text-white container-sm"
          >
            <h2 class="">{{ "home.home_introduction_title" | translate }}</h2>
            <div class="px-5 py-5 text-center">
              {{ "home.home_introduction_body" | translate }}
              <div class="input-group my-5">
                <select
                  class="form-select border-0 rounded-end rounded-pill"
                  aria-label="Search by the following values"
                  [(ngModel)]="searchBy"
                  (change)="searchArchives()"
                >
                  <option value="fullName" selected>Full Name</option>
                  <option value="firstName">First Name</option>
                  <option value="lastName">Last Name</option>
                  <option value="birthYear">Birth Date</option>
                  <option value="deathYear">Death Date</option>
                  <option value="rightistYear">Joined Rightist Year</option>
                  <option value="rightistId">Rightist Id</option>
                </select>
                <input
                  type="search"
                  class="form-control border-start-0"
                  style="width: 70% !important"
                  placeholder="{{
                    'archive.archive_searchbar_placeholder' | translate
                  }}"
                  translate
                  [(ngModel)]="searchTerm"
                  (search)="searchArchives()"
                  aria-label="Search for ... "
                  aria-describedby="button-addon2"
                />
                <button
                  class="btn border border-start-0 bg-white rounded-start rounded-pill"
                  type="button"
                  id="scearh_home__btn"
                  (click)="searchArchives()"
                >
                  <img
                    src="assets/homepage/search.png"
                    alt="globe"
                    width="15"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="layer-1">
    <div class="bg-white border-0">
      <div class="container-fluid px-0 pb-0 mb-0 text-white vertical-line">
        <div class="container">
          <div class="row mx-5 text-center ">
            <h2 class="col-12 px-5 mt-4">
              {{ "home.home_featured_title" | translate }}
            </h2>
            <div
              class="col-xs-12 col-md-6 col-lg-4 my-4"
              *ngFor="let profile of randomProfile"
            >
              <div class="h-100">
                <div class="card-img-top my-4">
                  <img
                    *ngIf="profile?.images?.[0]?.imageUrl"
                    [src]="profile?.images?.[0]?.imageUrl"
                    class="user"
                  />
                  <img
                    *ngIf="!profile?.images?.[0]?.imageUrl"
                    src="/assets/homepage/default-profile.png"
                    class="user"
                  />
                </div>
                <a
                  routerLink="/browse/main/memoir/{{ profile.rightistId }}"
                  aria-label="Redirect to {{ profile.fullName }}'s memoir page"
                  class="text-white text-center mb-3 fw-bold h5 card-title mt-3 text-decoration-none"
                >
                  {{ profile.fullName | titlecase }}
                </a>
                <div class="card-body mb-5 pb-5">
                  <div class="col-12 mt-auto mx-auto text-end">
                    <p class="text-white text-center" style="max-height: 8rem">
                      {{ profile.description.slice(0, 50) }}
                      {{ profile.description.length > 50 ? "..." : "" }}
                    </p>
                    <a routerLink="/browse/main/memoir/{{ profile.rightistId }}" class="a_link text-start mb-3 fw-bold text-decoration-none " >
                      read more <strong>></strong>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-medium-blue border-0 backImgChinaSign ">
      <div class="container-fluid bg-danger vertical-continue bg-white backImgChinaSign pb-5">
        <div class="container pb-5 ">
          <div class="row ">
            <div class="col-lg-6 col-md-12 col-xs-12">
              <div
                class="w-100 h-100 brief-responsive d-flex align-items-center text-dark"
              >
                <div class="ml-auto">
                  <h1 class="text-orange-red my-3">{{ "home.home_history_title" | translate }}</h1>
                  <p>
                    {{ "home.home_history_body" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white layer-line homepage-img1">
      <div class="col-12 col-md-10 mx-auto text-center  rounded-lg timeline-background">
        <h2 class="text-center text-orange-red py-3">{{ "home.home_timeline" | translate }}</h2>
        <img class="img-fluid timeline-img" src="assets/homepage/timeline.png" />
      </div>
      <div class="col-12 col-md-10 ms-auto py-3">
        <div class="col-12 col-sm-10 col-md-7 col-lg-5 ms-auto">
          <a
            class="btn-lg rounded-pill btn-orange-red"
            routerLink="/about/movement"
          >
            {{ "home.home_learn_movement" | translate }}
            <img
              alt="About movement"
              src="assets/homepage/right-orange-arrow.svg"
              width="20"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
