.check-icon {
    font-size: 2rem;
    color: green;
}

.cross-icon {
    font-size: 2rem;
    color: red;
}

.pencil-icon {
    font-size: 2rem;
}

.photo {
    overflow: scroll;
    height: 1000px;
}