
<div class="container-fluid p-0 pb-3">
  <div class="container-fluid px-0 text-center bg-image-blue bg-khali pb-1">
    <div class="bg-image-blue bg-medium-blue pb-3">
      <div class="bg-image-blue-inner">
        <div class="bg-image-blue-inner bg-dark-blue">
          <div class="container w-50 pt-4">
            <h2 class="text-center">
              {{ (!page ? "upload.request_form" : "upload.detail_edit" )| translate }} - {{(!page ? "upload.upload" : "common.save" ) | translate }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

<form class="container-fluid mt-4" [formGroup]="allForms">
  <app-rightist-info-form formControlName="rightist"></app-rightist-info-form>
  <div class="row">
    <div class="col-md-4 ms-5 ps-5">
      <!-- photo upload section -->
      <app-upload-images-form
        formControlName="imagesDetails"
      ></app-upload-images-form>
    </div>

    <!-- col for contents input box -->
    <div class="col-md-6">
      <div class="my-4">
        <h4>{{ "upload.content" | translate }}</h4>
        <div class="border p-2 shadow rounded">
          <label for="add_content" class="form-label h4">{{
            "upload.add_content" | translate
          }}</label>
          <textarea
            class="form-control"
            id="add_content"
            rows="5"
            placeholder="{{
              'upload.placeholder.add_content_placeholder' | translate
            }}"
            formControlName="content"
            (input)="descriptionChanged($event.target?.['value'])"
          ></textarea>
          <textarea
            *ngIf="page == 'contribution' || isAdmin"
            class="form-control"
            id="other_add_content"
            rows="5"
            placeholder="{{
              'upload.placeholder.other_add_content_placeholder' | translate
            }}"
            formControlName="otherContent"
            (input)="otherDescriptionChanged($event.target?.['value'])"
          ></textarea>
        </div>
      </div>
      <!-- event detail and date -->
      <div class="row">
        <div class="col">
          <app-event-info-form formControlName="event"></app-event-info-form>
        </div>
      </div>
      <!-- memoir section -->
      <br />
      <app-memoir-info-form formControlName="memoir"></app-memoir-info-form>
    </div>
  </div>
  <br /><br />
  <!-- submit and clear buttons -->
  <div class="d-flex col-11 mx-auto mb-5" *ngIf="this.page != 'contribution'">
    <button
      type="button"
      class="btn btn-lg btn-outline-dark rounded-pill ms-auto px-4"
      (click)="clear2()"
    >
      {{ "upload.clear" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-lg btn-outline-dark me-3 rounded-pill mx-2 px-4"
      [disabled]="allForms.invalid || isLoading"
      (click)="onSubmit( isAdmin ? 'approved' : 'new')"
    >
      {{ "upload.submit" | translate }}
    </button>
  </div>
</form>
