<footer class="text-center text-lg-start bg-khaki mt-auto">
  <section class="py-3">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            {{ "common.chinese_anti_rightist_archives" | translate }}
          </h6>
          <div>{{ "footer.copyright" | translate }}</div>
          <p>{{ "footer.GMU" | translate }}</p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            {{ "footer.nav" | translate }}
          </h6>
          <p>
            <a routerLink="/terms-contribution" class="text-reset">{{
              "footer.faq" | translate
            }}</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <p>
            <a routerLink="about/movement" class="text-reset">{{
              "footer.about" | translate
            }}</a>
          </p>
          <p>
            <a routerLink="about/resources" class="text-reset">{{
              "other_resources.other_resources_title" | translate
            }}</a>
          </p>
          <p>
            <a routerLink="about/research" class="text-reset">{{
              "footer.research" | translate
            }}</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <p>
            <a routerLink="browse/main" class="text-reset">{{
              "footer.archive" | translate
            }}</a>
          </p>
          <p>
            <a routerLink="browse/gallery" class="text-reset">{{
              "footer.gallery" | translate
            }}</a>
          </p>
          <p>
            <a routerLink="repository" class="text-reset">{{
              "footer.repository" | translate
            }}</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <p>
            <a routerLink="/terms-contribution" class="text-reset">{{
              "footer.terms" | translate
            }}</a>
          </p>
          <p>
            <a routerLink="/account" class="text-reset">{{
              "footer.account" | translate
            }}</a>
          </p>
          <p>
            <a routerLink="upload" class="text-reset">{{
              "footer.upload" | translate
            }}</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-2 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            {{ "footer.contact" | translate }}
          </h6>
          <p>{{ "footer.address" | translate }}</p>
          <p>{{ "footer.email" | translate }}</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4 bg-dark bg-opacity-20">
    © Copyright 2022 <a class="text-reset fw-bold" routerLink="/home"> STIP </a>
  </div>
</footer>
