<div class="form-group rounded p-3 overflow-auto">
  <h4>{{ "upload.upload_photo" | translate }}</h4>
  <section
    class="my-4"
    *ngFor="
      let imageForm of controls;
      let i = index;
      last as last;
      first as first
    "
  >
    <form [formGroup]="imageForm">
      <!-- select photo section -->
      <div class="d-flex" *ngIf="!onlyDetails">
        <button class="main-canvas" (click)="uploadFileNew.click()">
          <input
            type="file"
            #uploadFileNew
            id="profile-image-{{ i }}"
            class="visually-hidden"
            accept="image/*"
            formControlName="image"
            (change)="onselectFile($event, i)"
          />

          <img
            *ngIf="imageForm.value!.imageUrl"
            src="{{ imageForm.value!.imageUrl }}"
            alt="profile image"
            class="image"
            height="400"
            width="400"
          />
          <img
            *ngIf="!imageForm.value!.imageUrl"
            src="/assets/homepage/default-profile.png"
            alt="user"
            class="image"
            height="400"
            width="400"
          />
          <div class="middle mt-5">{{ "account.add_photo" | translate }}</div>
        </button>
      </div>
      <a class="d-flex" *ngIf="onlyDetails" target="_blank" [href]="imageForm.value!.imageUrl ?? '/assets/homepage/default-profile.png'">
          <img
            *ngIf="imageForm.value!.imageUrl"
            src="{{ imageForm.value!.imageUrl }}"
            alt="profile image"
            class="image image-diablo"
            height="250"
            width="200"
          />
          <img
            *ngIf="!imageForm.value!.imageUrl"
            src="/assets/homepage/default-profile.png"
            alt="user"
            class="image image-diablo"
            height="250"
            width="200"
          />
      </a>

      <div class="d-flex flex-column mt-3" *ngIf="onlyDetails">
        <!-- Design for details-->
        <h3>{{ imageForm.value!.imageTitle}} ({{ imageForm.value!.imageCategory }})</h3>
        <p>{{ imageForm.value!.imageDes ??  imageForm.value!.imageDetails}}</p>
        <p class="text-reset mt-auto">{{ imageForm.value!.imageSource}}</p>
        

      </div>

      <div class="mb-4" *ngIf="!onlyDetails">
        <div>
          <label for="imageTitle" class="form-label"
            >{{ "upload.title" | translate }} ({{
              language | uppercase
            }})</label
          >
          <input
            type="text"
            class="form-control w-75"
            id="imageTitle"
            placeholder="{{
              'upload.placeholder.image_title_placeholder' | translate
            }}"
            formControlName="imageTitle"
          />
        </div>

        <div *ngIf="isAdmin">
          <label for="otherImageTitle" class="form-label"
            >{{ "upload.title" | translate }} ({{
              otherLanguage | uppercase
            }})</label
          >
          <input
            type="text"
            class="form-control w-75"
            id="otherImageTitle"
            placeholder="{{
              'upload.placeholder.other_image_title_placeholder' | translate
            }}"
            formControlName="otherImageTitle"
          />
        </div>
      </div>

      <div class="mb-4" *ngIf="!onlyDetails">
        <div>
          <label for="imageDetails" class="form-label"
            >{{ "upload.detail" | translate }} ({{
              language | uppercase
            }})</label
          >
          <textarea
            class="form-control w-75"
            id="imageDetails"
            rows="3"
            placeholder="{{
              'upload.placeholder.image_detail_placeholder' | translate
            }}"
            formControlName="imageDes"
          ></textarea>
        </div>

        <div *ngIf="isAdmin">
          <label for="otherImageDetails" class="form-label"
            >{{ "upload.detail" | translate }} ({{
              otherLanguage | uppercase
            }})</label
          >
          <textarea
            class="form-control w-75"
            id="otherImageDetails"
            rows="3"
            placeholder="{{
              'upload.placeholder.other_image_detail_placeholder' | translate
            }}"
            formControlName="otherImageDes"
          ></textarea>
        </div>
      </div>

      <div class="mb-4" *ngIf="!onlyDetails">
        <div>
          <label for="imageSource" class="form-label"
            >{{
              "upload.source" | translate
            }} ({{ language | uppercase }})</label
          >
          <textarea
            class="form-control w-75"
            id="imageSource"
            rows="3"
            placeholder="{{
              'upload.placeholder.image_source_placeholder' | translate
            }}"
            formControlName="imageSource"
          ></textarea>
        </div>

        <div *ngIf="isAdmin">
          <label for="otherImageSource" class="form-label"
            >{{
              "upload.source" | translate
            }} ({{ otherLanguage | uppercase }})</label
          >
          <textarea
            class="form-control w-75"
            id="otherImageSource"
            rows="3"
            placeholder="{{
              'upload.placeholder.other_image_source_placeholder' | translate
            }}"
            formControlName="otherImageSource"
          ></textarea>
        </div>
      </div>

      <div *ngIf="!onlyDetails">
        <div>
          <label for="categories"
            >{{ "upload.image_cat" | translate }} ({{
              language | uppercase
            }})</label
          >
          <select
            formControlName="imageCategory"
            name="imageCategory"
            id="imageCategory"
            class="form-select w-75"
          >
            <option value="People" selected>{{ "upload.people" | translate }}</option>
            <option value="Media">{{ "upload.media" | translate }}</option>
            <option value="Camps">{{ "upload.camps" | translate }}</option>
            <option value="Other">{{ "upload.other" | translate }}</option>
          </select>
          <!-- <div *ngIf="isAdmin">
            <input
              readonly
              formControlName="otherImageCategory"
              class="form-control w-75"
            />
          </div> -->
        </div>
      </div>

      <!-- radio buttons for choosing if user wants to include photo in gallery -->
      <br />
      <div class="my-3" *ngIf="pageType !== 'gallery'">
        <p>
          {{ "upload.include" | translate }}
          <img
            src="assets/upload/icons-question.png"
            tooltip="Choose to include the photo in website gallery"
            placement="auto"
            class="mx-2 shadow rounded-circle p-1"
            width="30"
          />
        </p>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="galleryOptions"
            [id]="'galleryYes'+i"
            [value]="true"
            formControlName="imageUpload"
          />
          <!-- yes button -->
          <label class="form-check-label" [for]="'galleryYes'+i">{{
            "upload.yes" | translate
          }}</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="galleryOptions"
            [id]="'galleryNo'+i"
            [value]="false"
            formControlName="imageUpload"
          />
          <!-- no button -->
          <label class="form-check-label" [for]="'galleryNo'+i">{{
            "upload.no" | translate
          }}</label>
        </div>
      </div>

      <!-- Is Profile-->
      <div *ngIf="pageType === 'profile'">
        <!-- <pre>{{ imageForm.get('isProfile')!.value }}</pre> -->
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            [id]="'imageProfile' + i"
            name="isProfile"
            formControlName="isProfile"
            (input)="selectDefaultProfile(i)"
          />
          <label class="form-check-label" [for]="'imageProfile' + i"
            >Select this image as profile</label
          >
        </div>
      </div>

      <br /><br />
      <!-- <div *ngIf="isWarning && last && page != 'contribution'" class="text-danger h3">
        Please add {{ title }}
      </div> -->

      <button
        type="button"
        tooltip="Remove this event"
        placement="auto"
        *ngIf="(!first || !last) && type === 'multiple'"
        class="btn btn-lg btn-outline-danger rounded-pill bg-white text-danger"
        (click)="remove(i)"
      >
        {{ "upload.remove" | translate }}

        <img src="assets/upload/icons-remove.png" class="mx-2" width="30" />
      </button>
      <!-- add event button -->
      <button
        *ngIf="last && type === 'multiple'"
        type="button"
        (click)="addImage()"
        tooltip="Add another event"
        placement="auto"
        class="btn btn-lg btn-outline-dark rounded-pill bg-white text-dark mx-3"
      >
        {{ "upload.add_event" | translate }}

        <img src="assets/upload/icons-plus.svg" class="mx-2" width="30" />
      </button>
    </form>
  </section>
</div>
