<div class="container-fluid">
  <!-- this div creates the gold outline at the bottom of triangle -->
  <div class="outerdiv">
    <!-- this div contains the title, main paragraph box, and the triangle shape -->
    <div
      class="container-fluid position-relative bg-dark-blue"
      id="firstbg"
      style="
        padding-top: 6.25rem;
        padding-bottom: 17.5rem;
      "
    >
      <!-- head title of the page -->
      <h2 class="text-center text-light">
        {{ "about_movement.about_movement_introduction_title" | translate }}
      </h2>

      <!-- image of the red flower -->
      <div
        class="position-absolute"
        style="width: 6.25rem; height: 6.25rem; left: 8%"
      >
        <img
          class="img-fluid"
          src="/assets/aboutpage/Group 66.png"
          style="width: 6.25rem; height: 6.25rem"
        />
      </div>
      <!-- image of the red flower -->
      <div
        class="position-absolute"
        style="width: 6.25rem; height: 6.25rem; top: 40%; left: 82%"
      >
        <img
          class="img-fluid"
          src="/assets/aboutpage/Group 66.png"
          style="width: 6.25rem; height: 6.25rem"
        />
      </div>
      <!-- image of the red flower -->
      <div
        class="position-absolute"
        style="width: 6.25rem; height: 6.25rem; top: 60%; left: 4%"
      >
        <img
          class="img-fluid"
          src="/assets/aboutpage/Group 66.png"
          style="width: 6.25rem; height: 6.25rem"
        />
      </div>
      <!-- image of the gold lines -->
      <div
        class="position-absolute"
        style="width: 100%; height: 15.938rem; top: 20%; z-index: -1"
      >
        <img
          class="img-fluid"
          src="/assets/aboutpage/Group 71.png"
          style="width: 100%; height: 9.688rem"
        />
      </div>
      <!-- image of the gold lines -->
      <div
        class="position-absolute"
        style="width: 100%; height: 15.938rem; top: 50%; z-index: -1"
      >
        <img
          class="img-fluid"
          src="/assets/aboutpage/Group 62.png"
          style="width: 100%; height: 9.688rem"
        />
      </div>
      <!-- the paragraph box with border and background color -->
      <p
        class="mt-4 text-left text-light mx-auto"
        style="
          background-color: #09363C;
          width: 50%;
          border-style: solid;
          border-color: #CEA374;
          padding-left: 6%;
          padding-right: 6%;
          font-size: 1.3rem;
        "
      >
        {{ "about_movement.about_movement_introduction_body" | translate }}
      </p>

      <!-- view source button -->
      <div class="text-center" style="padding-top: 3.125rem">
        <button
          type="button"
          class="btn btn-lg btn-primary rounded-pill responsive-width view_source"
          style="width: 20%"
          routerLink="/resources"
        >
          <i class="fa fa-plus"></i
          ><span class="hidden-sm hidden-xs">{{
            "about_movement.about_movement_introduction_button" | translate
          }}</span>
        </button>
      </div>
    </div>
  </div>

  <!-- div for the map section -->
  <div class="map" style="padding-top: 6.25rem">
    <h3 class="text-center">
      {{ "about_movement.about_movement_map_title" | translate }}
    </h3>
    <p class="lh-lg text-center">
      {{ "about_movement.about_movement_map_body" | translate }}
    </p>
    <div class="text-center" style="padding-bottom: 5%">
      <button
        type="button"
        class="btn-lg rounded-pill responsive-width btn-orange-red"
        routerLink="/research"
      >
        <span class="hidden-sm hidden-xs">{{
          "about_movement.about_movement_learn_more_button" | translate
        }}</span>
      </button>
    </div>
  </div>
</div>
