<div class="container-fluid">
  <!-- this div creates the light-green outline at the bottom of triangle -->
  <div class="outerdiv">
    <!-- this div contains the title, main paragraph box, and the triangle shape -->
    <div
      class="container-fluid position-relative bg-dark-blue firstbg"
      id="firstbg"
    >
      <!-- head title of the page -->
      <h2 class="text-center text-light">
        {{ "about_movement.about_movement_introduction_title" | translate }}
      </h2>

      <!-- image of the red flower -->
      <div
        class="position-absolute flower_div "
      >
        <img
          class="img-fluid flower"
          src="/assets/aboutpage/Group 66.png"
        />
      </div>
      <!-- image of the red flower -->
      <div
        class="position-absolute red_flower_div"
      >
        <img
          class="img-fluid red_flower"
          src="/assets/aboutpage/Group 66.png"

        />
      </div>
      <!-- image of the red flower -->
      <div
        class="position-absolute red_flower_div_2"
      >
        <img
          class="img-fluid red_flower_2"
          src="/assets/aboutpage/Group 66.png"
        />
      </div>
      <!-- image of the light-green lines -->
      <div
        class="position-absolute line_div"
      >
        <img
          class="img-fluid line_img"
          src="/assets/aboutpage/Group 71.png"
        />
      </div>
      <!-- image of the light-green lines -->
      <div
        class="position-absolute line_div2"
      >
        <img
          class="img-fluid line2"
          src="/assets/aboutpage/Group 62.png"
        />
      </div>
      <!-- the paragraph box with border and background color -->
      <div
        class="mt-4 text-left text-light mx-auto pbox container p-5"
      >
        {{ "about_movement.about_movement_introduction_body" | translate }}
        {{ "about_movement.about_movement_introduction_body2" | translate }}
      </div>

      <!-- view source button -->
      <div class="text-center" style="padding-top: 3.125rem">
        <button
          type="button"
          class="btn btn-lg btn-primary rounded-pill responsive-width view_source"
          routerLink="/resources"
        >
          <i class="fa fa-plus"></i
          ><span class="hidden-sm hidden-xs">{{
            "about_movement.about_movement_introduction_button" | translate
          }}</span>
        </button>
      </div>
    </div>
  </div>

  <!-- div for the timeline section -->
  <div class="timeline">
    <h3 class="text-center text-light">
      {{ "about_movement.about_movement_timeline_title" | translate }}
    </h3>
    <p class="text-center text-light">
      <img class="img-fluid timeline-img" src="assets/homepage/timeline.png" />
    </p>
    <br />
    <br />
    <div class="text-center" style="padding-bottom: 5%">
      <button
        type="button"
        class="btn-lg rounded-pill responsive-width btn-orange-red"
        routerLink="/research"
      >
        <span class="hidden-sm hidden-xs">{{
          "about_movement.about_movement_learn_more_button" | translate
        }}</span>
      </button>
    </div>
  </div>
</div>
