.main {
  background-color: #09363c;
}

.contact {
  background-color: #09363c;
}

.contact_us {
  background: #ffffff;
}

.image-container {
  position: relative;
  width: 90%;
}

.image {
  opacity: 1;
  display: block;
  width: 90%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0.4;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.7vw;
}

.image-container:hover .image {
  opacity: 0.1;
}

.image-container:hover .middle {
  opacity: 1;
}

.divMain{
  padding-top: 80px; 
  padding-bottom: 80px
}

.secondaryDiv{
  padding-left: 25%; 
  padding-right: 25%
}

.contact{
  padding-top: 80px; 
  padding-bottom: 80px
}