<div class="row" *ngIf="this.contribution.rightist">
  <div class="col-4">
    <div class="card-body ms-5">
      <h4 class="card-title fw-bold">
        {{ contribution.rightist.fullName }}
      </h4>
      <p class="card-text m-0">
        Occupation:
        <span class="fw-bold text-capitalize">{{
          contribution.rightist.job ? contribution.rightist.job : "-"
        }}</span>
      </p>
      <p class="card-text m-0">
        Ethnic Group:
        <span class="fw-bold text-capitalize">{{
          contribution.rightist.ethnicity
            ? contribution.rightist.ethnicity
            : "-"
        }}</span>
      </p>
      <p class="card-text m-0">
        Gender:
        <span class="fw-bold text-capitalize">{{
          contribution.rightist.gender ? contribution.rightist.gender : "-"
        }}</span>
      </p>
    </div>
  </div>

  <div
    class="col-6 d-flex flex-column align-items-start justify-content-center my-4"
  >
    <div *ngIf="contribution.rightist.description; else template">
      <div>
        {{ contribution.rightist.description | slice: 0:limit
        }}<span *ngIf="contribution.rightist.description.length > limit"
          >...</span
        >
      </div>
      <!-- <div *ngFor="let event of contribution.rightist.events | slice: 0:limit">
        <span
          >In {{ event.startYear | date: "yyyy" }},
          {{ event.event.substring(0, 49)
          }}<span *ngIf="event.event.length > 50">...</span></span
        >
      </div>
      <div *ngIf="contribution.rightist.events.length > limit">...</div> -->
    </div>
  </div>

  <div
    class="col-lg-2 col-12 d-flex align-items-center flex-column justify-content-center"
  >
    <div class="my-2 text-center">
      <p>
        <i>
          {{ contribution.rightist.lastUpdatedAt | date: "short" }}
        </i>
      </p>
    </div>

    <div
      class="d-flex justify-content-center my-2"
      *ngIf="contribution.publish != 'approved'"
    >
      <button class="btn btn-transparent" (click)="onReadMore()">
        <span class="h2">&#8594;</span>
      </button>
    </div>

    <div
      class="d-flex justify-content-center my-2"
      *ngIf="contribution.publish === 'approved'"
    >
      <button class="btn btn-transparent">
        <a routerLink="/browse/main/memoir/{{ contribution.rightistId }}"
          >>> Profile
        </a>
      </button>
    </div>
  </div>

  <ng-template #template>
    <div class="display-6"><i>No events</i></div>
  </ng-template>
</div>
