.check-icon {
    font-size: 2rem;
    color: green;
}

.pencil-icon {
    font-size: 2rem;
}

.cross-icon {
    font-size: 2rem;
    color: red;
}

.arrow-icon {
   font-size: 2rem;
}

.merge-icon {
    font-size: 2rem;
    color: green;
}

small {
    font-size: 1.4rem;
}