<div class="container-fluid mainDiv">
  <h2 class="text-center">
    {{
      "resources.resources" | translate
    }}
  </h2>
  <div>
        <div class="row">
      <div class="col py-3">
        <h4>English Links</h4>
      </div>
      <div class="col py-3">
        <h4>中文链接</h4>
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
       <a href="https://factsanddetails.com/china/" target="_blank">Facts and Details, China: </a><br>
       <a href="https://factsanddetails.com/china/cat2/sub6/item1153.html" target="_blank">Hundred Flowers Campaign</a>
      </div>
      <div class="col py-3">
      <a href="http://mjlsh.usc.cuhk.edu.hk/Book.aspx?cid=4&tid=3139">右派的八百万种死法－－作者：多多</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
             <a href="https://www.newworldencyclopedia.org/entry/China#The_People.27s_Republic_of_China_and_the_Republic_of_China_.281949-Present.29">New World Encyclopedia, China:</a><br>

        <a href="https://www.newworldencyclopedia.org/entry/History_of_Chinese_art#Communist_art_.281950-1980s.29">History of Chinese Art</a>
      </div>
      <div class="col bg-light py-3">
           <a href="https://www.newworldencyclopedia.org/entry/China#The_People.27s_Republic_of_China_and_the_Republic_of_China_.281949-Present.29">Chinese link</a><br>

        
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
        <a href="url">link text</a>
      </div>
      <div class="col py-3">
        <a href="url">link text</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a href="url">link text</a>
      </div>
      <div class="col bg-light py-3">
        <a href="url">link text</a>
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
        <a href="url">link text</a>
      </div>
      <div class="col py-3">
        <a href="url">link text</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a href="url">link text</a>
      </div>
      <div class="col bg-light py-3">
        <a href="url">link text</a>
      </div>
    </div>
  </div>
</div>
