<div class="container-fluid" style="padding-bottom: 100px">
  <h2>
    {{
      "resources.resources" | translate
    }}
  </h2>
  <div>
    <div class="row">
      <div class="col bg-light py-3">
        <a href="url">link text</a>
      </div>
      <div class="col py-3">
        <a href="url">link text</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a href="url">link text</a>
      </div>
      <div class="col bg-light py-3">
        <a href="url">link text</a>
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
        <a href="url">link text</a>
      </div>
      <div class="col py-3">
        <a href="url">link text</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a href="url">link text</a>
      </div>
      <div class="col bg-light py-3">
        <a href="url">link text</a>
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
        <a href="url">link text</a>
      </div>
      <div class="col py-3">
        <a href="url">link text</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a href="url">link text</a>
      </div>
      <div class="col bg-light py-3">
        <a href="url">link text</a>
      </div>
    </div>
  </div>
</div>
