<div class="container-fluid mainDiv">
  <h2 class="text-center">
    {{ "resources.resources" | translate }}
  </h2>
  <div>
    <div class="row">
      <div class="col py-3">
        <h4>English 英文</h4>
      </div>
      <div class="col py-3">
        <h4>Chinese 中文</h4>
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
        <a
          href="https://factsanddetails.com/china/cat2/sub6/item1153.html"
          target="_blank"
          >Hundred Flowers Campaign</a
        >
      </div>
      <div class="col py-3">
        <a href="http://mjlsh.usc.cuhk.edu.hk/Book.aspx?cid=4&tid=3139" target="_blank"
          >右派的八百万种死法－－作者：多多</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a href="https://infogalactic.com/" target="_blank">Infogalactic Planetary Knowledge Core:</a><br>
        <a href="https://infogalactic.com/info/Anti-Rightist_Movement" target="_blank">Anti-Rightist Movement</a>
      </div>
      <div class="col bg-light py-3">
        <a href="http://day.mirrorcn.com/6-8/5554.html" target="_blank">人民日报发表社论《这是为什么？》——反右运动开始</a>
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
        <a href="https://www.thefreelibrary.com/" target="_blank">The Free Library:</a><br>
        <a href="https://www.thefreelibrary.com/Chinese+intellectuals%27+ordeal%3A+the+anti-rightist+campaign+of+1957...-a0250579429" target="_blank">Chinese intellectuals' ordeal: the anti-rightist campaign of 1957 revisited</a>
      </div>
      <div class="col py-3">
        <a href="http://day.mirrorcn.com/6-8/5553.html" target="_blank">毛泽东亲自起草“反右”文件</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a href="https://www.rfa.org" target="_blank">Radio Free Asia:</a><br>
        <a href="https://www.rfa.org/english/china/china_antirightist-20070619.html" target="_blank">Fifty Years On, Deaths, Persecution of Anti-Rightist Era Still Taboo in China- Chinese </a>
      </div>
      <div class="col bg-light py-3">
        <a href="http://day.mirrorcn.com/10-15/10148.html" target="_blank">中央制定“右派”分子的划分标准</a>
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
        <a href="https://journals.openedition.org/chinaperspectives/2553" target="_blank">The “Active Rightists” of 1957 and Their Legacy: “Right-wing Intellectuals,” Revisionists, and Rights Defenders - - by Zeming Chen</a>
      </div>
      <div class="col py-3">
        <a href="http://day.mirrorcn.com/9-16/9173.html" target="_blank">中央发布为改造好的右派摘帽的指示</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a href="https://www.youtube.com/watch?v=pjCYb6sL0mM" target="_blank">反右運動 The anti-rightist movement in communist China (Youtube)</a>
      </div>
      <div class="col bg-light py-3">
        <a href="http://day.mirrorcn.com/4-5/3398.html" target="_blank">中共中央批准全部摘掉右派分子帽子</a>
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
        <a href="https://archive.org/details/PbsChinaACenturyOfRevolution2TheMaoYears19491976" target="_blank">Pbs China A Century Of Revolution 2 The Mao Years 1949 1976 (documentary)</a>
      </div>
      <div class="col py-3">
        <a href="http://day.mirrorcn.com/11-16/11017.html" target="_blank">全国最后一批右派分子摘帽</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a href="https://alphahistory.com/chineserevolution/" target="_blank">Alpha History: the Chinese Revolution</a>
      </div>
      <div class="col bg-light py-3">
        <a href="https://www.youtube.com/watch?v=pjCYb6sL0mM" target="_blank">反右運動 The anti-rightist movement in communist China (Youtube)</a>
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
        <a href="https://www.britannica.com/biography/Mao-Zedong" target="_blank">Mao Zedong, Chinese leader</a>
      </div>
      <div class="col py-3">
        <a href="http://mjlsh.usc.cuhk.edu.hk/Book.aspx?cid=4&tid=1092" target="_blank">我的20年右派经历－－作者：江明怀</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a href="https://www.biography.com/political-figure/mao-tse-tung" target="_blank">Mao Tse-tung, Biography (1893–1976)</a>
      </div>
      <div class="col bg-light py-3">
        <a href="http://mjlsh.usc.cuhk.edu.hk/Book.aspx?cid=4&tid=3139" target="_blank">右派的八百万种死法－－作者：多多</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a href="https://schoolshistory.org.uk" target="_blank">School History</a><br>
        <a href="https://schoolshistory.org.uk/topics/world-history/mao-china-c-1930-1976/" target="_blank">Mao Zedong: China, c.1930–1976</a>
      </div>
      <div class="col bg-light py-3">
        <a href="https://www.marxists.org/chinese/reference-books/meisner/mao_china_and_after_index.htm" target="_blank">毛泽东的中国及其后：中华人民共和国史, 莫里斯·迈斯纳 (Maurice Meisner) 著 杜蒲 译</a><br>
        <a href="https://www.marxists.org/chinese/reference-books/meisner/mao_china_and_after_12.htm" target="_blank">第十章 百花齐放：社会主义、官僚主义与自由</a>
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
        <a href="https://batangninjaturtle.weebly.com/mao-zedong.html" target="_blank">Mao Zedong</a>
      </div>
      <div class="col py-3">
        <a href="http://day.mirrorcn.com/9-30/9665.html" target="_blank">逝世： 微生物学家汤飞凡因被打成“右派”而自尽</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a href="https://supchina.com/2022/01/05/chinas-five-anti-campaign-of-1952/" target="_blank">
          Three-Anti/Five-Anti Campaigns 1952</a>
      </div>
      <div class="col bg-light py-3">
        <a href="http://mjlsh.usc.cuhk.edu.hk/book.aspx?cid=4&tid=60" target="_blank">吴 葽：22年的劫难 </a>
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
        <a href="https://chinesehistoryforteachers.omeka.net/" target="_blank">Chinese History For Teachers:</a><br>
        <a href="https://chinesehistoryforteachers.omeka.net/exhibits/show/chinese-land-reform/land-reform-overview" target="_blank">History For Teachers:
Chinese Land Reform (土地改革) Overview</a>
      </div>
      <div class="col py-3">
        <a href="http://mjlsh.usc.cuhk.edu.hk/book.aspx?cid=11&tid=421" target="_blank">拓荒者：一摘帽右派为适应文革生存的认罪书（上） </a><br>
        <a href="http://mjlsh.usc.cuhk.edu.hk/book.aspx?cid=11&tid=437" target="_blank">拓荒者：一摘帽右派为适应文革生存的认罪书（下）</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 py-3">
        <a href="https://factsanddetails.com/china/" target="_blank">Facts and Details, China: </a><br>
        <a href="https://factsanddetails.com/china/cat2/sub6/item1153.html" target="_blank">Hundred Flowers Campaign</a>
      </div>
      <!-- No Chinese Links-->
    </div>
    <div class="row">
      <div class="col-sm-6 bg-light py-3">
        <a href="https://www.newworldencyclopedia.org/entry/China#The_People.27s_Republic_of_China_and_the_Republic_of_China_.281949-Present.29" target="_blank">New World Encyclopedia, China:</a><br>
        <a href="https://www.newworldencyclopedia.org/entry/History_of_Chinese_art#Communist_art_.281950-1980s.29" target="_blank">History of Chinese Art</a>
      </div>
      <!-- No Chinese Links-->
    </div>
    <div class="row">
      <div class="col-sm-6 py-3">
        <a href="https://chinesehistoryforteachers.omeka.net/exhibits/show/the-cultural-revolution/cultural-revolution-overview" target="_blank">The Cultural Revolution Overview（文化大革命）</a>
      </div>
      <!-- No Chinese Links-->
    </div>
    <div class="row">
      <div class="col-sm-6 bg-light py-3">
        <a href="https://www.youtube.com/watch?v=hlbB3cmgPmo" target="_blank">Great Leap Forward Summary (Youtube)</a>
      </div>
      <!-- No Chinese Links-->
    </div>
  </div>
</div>
